extends layout

block content
    script(src='/static/utils.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://rawgit.com/moment/moment/2.2.1/min/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js')
    script(src='/static/Draw.js')
    script(src='/static/socket.js')

    nav(role = 'navigation', class='nabi_bar', id='nabi_bar')
        ul(class="nabi_bar_list")
            li
                h1(id="name") 
                    div #{title}
                        span Welcome to #{title}
            li 
                a(href='/')
                    div Dashboard
                        span Current status
            li 
                a(href='/history')
                    div History
                        span Command/Values
            li 
                a(href='mailto:GalapagosMonitor@gmail.com')
                    div Contact
                        span Administrator
        
    br
    //- h1= title
    //- p Welcome to #{title}

    block chart
        div(class="chart")
            div(id="board_tabs", class="tab")
                button(class="tablinks", onclick='openCanvas(event,\'Overview\')') Overview
            div(id="tab_contents" class="tab")
                div(id="Overview", class="tabcontent")
                    h3 Overview
                    p Displaying overview
                    div(id="canvas_container", class="chart-container")
                        canvas(id="canvas", class="chartjs-render-monitor")
                        br
                        br

    block controlPanel
        div(class="controlPanel")
            h1 Control Panel
            input#MaxItem(type="int" value=10)
            br
            button#submitMaxItem Max points showed on chart
            br
            br
            input#Interval(type="int" value=2000)
            br
            button#submitInterval Set Interval (ms)
            p MIN Interval: 1000
            br
            input#WarningCap(type="int" value=100)
            br
            button#submitWarningCap Set Warning Cap
            br
            br
            br
            button#submitMemoryRead Read Memory 
            br
            p From Current Board At
            input#MemoryAddress(type="string")
            input#Byte(type="int" value=4)
            p bytes.
            br
            br
            br

            block boardList
                select#selectBoard
                button(type="button",onclick='addBoardFunc()') Add Board
                table#monitoringtable
                    tr
                        th board#
                        th status
                        th temperature
                    tr
            //button#addData Add Data
            //button#removeData Remove Data
            //br
            //button#startInterval Start Generating Random Interval
            //button#endInterval End Generating Random Interval
    
    div(class="note")
        p Note: Moment.js is based on current system time, and now the graph unit is second. So range may vary greatly if you add/generate data after a period of time


