doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/static/utils.js')
    script(src='https://rawgit.com/moment/moment/2.2.1/min/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  body
    block content
