doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/static/src/moment.min.js')
    script(src='/static/src/Chart.js')
    script(src='/static/src/utils.js')
    script(src='/static/src/socket.io.js')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  body
    block content
